<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIXvRaei_mkYP2wj_ZIIlWnzKK4ksB3Ag</string>
	<key>GCM_SENDER_ID</key>
	<string>436603702917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>organ1.Test4</string>
	<key>PROJECT_ID</key>
	<string>noti-27763</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-27763.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436603702917:ios:6a4690ba0ad5c88a16e3ec</string>
</dict>
</plist>